hat-aio ~= 0.6.0
hat-asn1 ~= 0.5.1
hat-chatter ~= 0.5.1
hat-drivers ~= 0.5.2
hat-event ~= 0.6.4
hat-gateway ~= 0.5.9
hat-gui ~= 0.5.7
hat-json ~= 0.5.3
hat-juggler ~= 0.5.7
hat-manager ~= 0.5.3
hat-monitor ~= 0.5.3
hat-orchestrator ~= 0.5.4
hat-peg ~= 0.5.1
hat-sbs ~= 0.5.3
hat-stc ~= 0.6.0
hat-syslog ~= 0.5.3
hat-util ~= 0.5.5
doit >= 0.33.1
flake8 >= 3.9.2
wheel >= 0.36.2
pytest >= 6.2.4
pytest-asyncio >= 0.18.1
pytest-cov >= 2.12.1
pytest-repeat >= 0.9.1
pytest-timeout >= 1.4.2
sphinx >= 4.1.2
sphinxcontrib-drawio >= 0.0.13
sphinxcontrib-plantuml >= 0.21
sphinxcontrib-programoutput >= 0.17
numpy >= 1.22.2
pandas >= 1.4.1
psutil >= 5.9.0
sphinxcontrib-napoleon >= 0.7
build >= 0.7.0
twine >= 3.8.0
sphinx_rtd_theme >= 1.0.0
